 <!-- Upcoming Fixtures -->
<section id="fixtures" class="tables">
    <figure class="tables__img is-128x128 "> <img src="" alt=""></figure>
    <h2 class="tables__sub"> Fixtures</h2>
    <div class="table-container tables__margin">
        <table class="center table is-hoverable is-bordered is-fullwidth" style="width:100%">

            <thead>
                <tr class="is-selected has-background-black">
                    <th class="is-size-6-mobile">Date</th>
                    <th class="is-size-6-mobile">Time</th> 
                    <th class="is-size-6-mobile">Home</th>
                    <th class="is-size-6-mobile">Away</th>
                    <th class="is-size-6-mobile">Venue</th>
                </tr>
            </thead>
            <tbody>
                <% fixtures.forEach(function(fixture) { %>
                    <tr>      
                        <td class="is-size-6-mobile"><%= fixture.Date %></td>
                        <td class="is-size-6-mobile"><%= fixture.Time %></td>
                        <td class="is-size-6-mobile"><%= fixture.Home %></td>
                        <td class="is-size-6-mobile"><%= fixture.Away %></td>
                        <td class="is-size-6-mobile"><%= fixture.Venue %></td>
                    </tr>   
                <% }) %>
            </tbody>
        </table>
    </div>
</section>
 