 <!-- Upcoming Fixtures -->
<section id="fixtures">
    <div class=" fixture table-container py-6">
        <h2 class="is-size-2 is-size-3-mobile has-text-weight-bold is-family-sans-serif has-text-centered mb-6">Fixtures</h2>
        <table class="center table is-hoverable is-bordered is-fullwidth" style="width:100%">

            <thead>
                <tr class="is-selected has-background-black">
                    <th>Date</th>
                    <th>Time</th> 
                    <th>Home</th>
                    <th>Away</th>
                    <th>Venue</th>
                </tr>
            </thead>

            <tbody>

            <% fixtures.forEach(function(fixture) { %>
                <tr>
                    <% fixture.forEach(function(play) { %>
                    <td ><%= play.Date %></td>
                    <td class="is-size-6-mobile"><%= play.Time %></td>
                    <td class="is-size-6-mobile"><%= play.Home %></td>
                    <td class="is-size-6-mobile"><%= play.Away %></td>
                    <td class="is-size-6-mobile"><%= play.Venue %></td>

                    <% }) %>
                </tr>   
            <% }) %>
            </tbody>
            </table>
    </div>
</section>
 