<!-- // FIXTURES AND RESULTS // -->


<section id="results" class="tables">
  <div class="has-background-black has-text-white-bis py-6 my-2">
    <h1 class="is-size-1 has-text-centered has-text-weight-bold is-size-3-mobile">Fixtures & Results</h1>
  </div>
  <h2 class="is-size-2 is-size-3-mobile has-text-weight-bold has-text-centered mb-6 has-text-black-bis pt-6"> <figure class="tables-image is-128x128 "> <img src="" alt=""></figure> Results </h2>

    <div class="result table-container pt-1 pb-6 ">
        <table class="table is-hoverable is-bordered is-fullwidth" style="width:100%">

            <thead>
                <tr class="is-selected has-background-black">
                    <th id="res">Date/Time</th>
                    <!-- <th id="res">Time</th>  -->
                    <th>Home</th>
                    <th>Score</th>
                    <th>Away</th>
                </tr>
            </thead>

           <tbody>

            <% scores.forEach(function(score) { %>
                <tr> 
                    <td id="res" class="is-size-6-mobile"><%= score.Date %> <br></td>
                    <!-- <td id="res" class="is-size-6-mobile"><%= score.Time %></td> -->
                    <td class="is-size-6-mobile"><%= score.Home %></td>
                    <td class="is-size-6-mobile"><%= score.Score %></td>
                    <td class="is-size-6-mobile"><%= score.Away %></td>
                
                </tr>   
            <% }) %>
           </tbody>
          </table>
    </div>
</section>
















